@import url(http://fonts.googleapis.com/css?family=VT323);

html{
	height:100%;
}
body {
	font-family:arial, sans-serif;
}
h1{
	font-family: 'VT323', cursive;
	font-size: 70px;
	margin: 20px 0;
}
pre{
	display:inline;
}
ul, li{
	margin:0;
	padding:0;
}
.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
header{
	text-align:center;
}
.info {
	width: 200px;
	float: left;
	text-align:center;
}
.info p{
	margin:5px 0;
	padding:0;
}
.info_label{
	font-size: 30px;
	text-shadow: 2px 2px 2px #AAA;
	font-weight: bold;
}
.info_value{
	color: #359306;
	font-weight: bold;
	font-size: 50px;
	text-shadow: 1px 1px 1px #CCC;
}
.container{
	margin: 10px auto;
}
.hud{
	color: white;
	height: 350px;
	width: 500px;
	z-index: 1;
	position: absolute;
	left: 440px;
	top: 100px;
}
#space-invaders{
	display: block;
	margin: 0 0 0 20px;
	background-image: -webkit-radial-gradient(50% -45%, farthest-side, #ddd, #111);
	float: left;
	width:960px;
	height:550px;
}
#alert{
	display: none;
	margin: 100px auto;
	width: 500px;
	text-align: center;
	font-size: 3.2em;
	font-weight:bold;
	padding:60px 15px;
	color:#B3B3B3;
}
.help{
	border: 3px solid #111;
	color: #111;
	font-size: 37px;
	font-weight: bold;
	text-decoration: none;
	margin: 150px auto 0 auto;
	display: block;
	width: 45px;
	-webkit-border-radius: 30px;
	-moz-border-radius:30px;
}
.close{
	font-size: 18px;
	position: absolute;
	right: 10px;
	top: 8px;
	text-decoration: none;
	color: black;
}
#instructions{
	background-color: beige;
	color: black;
	z-index: 1;
	position: absolute;
	top: 200px;
	left: 460px;
	padding:20px;
}
#instructions ul li{
	font-size: 26px;
	list-style: none;
	margin: 15px 0;
}